body {
    font-family: Arial sans-serif;
    background-color: #d7c7aa;
    color: #bb161d;
    font-size: 16px;
    font-weight: bold;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
}

header{
    background-color: #00602b;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

h2{
    color: 000000;
}

h3{
    color: 000000;
}

p{
    color: #230e06;
    background-color: #ffffff;
}

highlight {
    font-weight: bold;
    color: #ee1e28;
    font-style: italic;
}

special-item{
    background-color: #ffffff;
}

footer{
    text-align: center;
    color: white;
    background-color: #bb161d;
}

nav{
    height: 35px;
}

main element{
    font-weight: bold;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
}